.flex {
  display: flex;
}

kbd {
  display: block;
}

article {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background: url(../images/bg.jpg) no-repeat;
  justify-content: center;
  align-items: center;
}

.key {
  width: 100px;
  height: 100px;
  padding: 1.5rem .5rem;
  background: rgba(0,0,0,.4);
  text-shadow: 0 0 5px black;
  transition: all .5s;
  text-align: center;
  cursor: pointer;
  margin-right: 3rem;
  border: 3px solid black;
}

.key:last-child {
  margin: 0;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 10px #ffc600;
}

.keybody div kbd {
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.keybody div span {
  font-size: 8px;
  color: orange;
  display: block;
}